.ListItem {
  list-style: none;
  background-color: lightsalmon;
  margin-right: 15px;
  padding-bottom: 10px;
}
    a:visited {
      color: darkslategray;
    }

    a {
      color: darkslategray;
    }
    p {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }